{% load staticfiles %}

<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="off-canvas-content" data-off-canvas-content>
    <div class="title-bar hide-for-large">
              <div class="title-bar-left">
              </div>
            </div>
            <div class="callout primary">
              <div class="row column">
                {% if user.is_authenticated %}
                <h1 class = "text-center">Welcome to Clip Chat!</h1>
                <!-- <h1 class = "text-center">Welcome {{obj.user}} !</h1> -->
                {% else %}
                <h1 class = "text-center">Welcome to Clip Chat!</h1>
                {% endif %}
                <p class="lead">
              <a href="{% url 'home' %}" class = "button round">Chat</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class = "button round">Logout</a>
               {% else %}
                <a href="{% url 'login' %}" class = "button round">Login</a>
                {% endif %}
                  <a href="{% url 'register' %}" class = "button round">Register</a>
                </p>
              </div>
            </div>

    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading"> </div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                    {% if obj.user == request.user %}
                        <li class="text-right list-group-item">{{ obj.message }}</li>
                    {% else %}
                        <li class="text-left list-group-item">{{obj.user}}: {{ obj.message }}</li>
                    {% endif %}
                {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
    </div>

    <!--Form sends to javascript-->
    <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>
</body>

<script src="{% static 'chat.js' %}"></script>
</html>
