<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
  <body>
<div class="off-canvas-content" data-off-canvas-content>
  <div class="title-bar hide-for-large">
            <div class="title-bar-left">
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1 class = "text-center">Welcome to Clip Chat!</h1>
              <div class = "text-center">
              <p class="lead">
            <a href="{% url 'home' %}" class = "button round">Chat</a>
              {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class = "button round">Logout</a>
             {% else %}
              <a href="{% url 'login' %}" class = "button round">Login</a>
              {% endif %}
                <a href="{% url 'register' %}" class = "button round">Register</a>
              </p>
            </div>
          </div>
        </div>

<div class = "row">
  <div class = "medium-6 medium-centered large-4 large-centered columns">
<form method="post" action=".">
  <div class = "row column log-in-form">
    {% csrf_token %}
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit" class = "button rounded" value="Login"/>
</form>
</div>
</div>
</body>
</html>
